/* You can add global styles to this file, and also import other style files */
@use "mozek-angular/src/styles" as moz;

body, html {
    font-family: "Google Sans", sans-serif;
    color: var(--moz-color-text);

    img {
        user-select: none;
        -webkit-user-drag: none;
    }
}